FlightSearchAPI/.vs/FlightSearchAPI/CopilotIndices/18.6.39588.17144/CodeChunks.db
FlightSearchAPI/.vs/FlightSearchAPI/CopilotIndices/18.6.39588.17144/SemanticSymbols.db
FlightSearchAPI/.vs/FlightSearchAPI.slnx/DesignTimeBuild/.dtbcache.v2
FlightSearchAPI/.vs/FlightSearchAPI.slnx/FileContentIndex/216d2ab3-0395-4b03-bf11-e379b8ca04ff.vsidx
FlightSearchAPI/.vs/FlightSearchAPI.slnx/FileContentIndex/6781f8b3-b8e8-428b-85da-ef3a8ac73cb4.vsidx
FlightSearchAPI/.vs/FlightSearchAPI.slnx/FileContentIndex/49443e9f-d9ba-41c8-a2f8-46692e049677.vsidx
FlightSearchAPI/.vs/FlightSearchAPI.slnx/FileContentIndex/10601013-c881-4ac5-bf9c-517826ef24ec.vsidx
FlightSearchAPI/.vs/FlightSearchAPI.slnx/FileContentIndex/b1e9d288-9471-4d49-bd2a-cd561d78afe6.vsidx
FlightSearchAPI/.vs/FlightSearchAPI.slnx/config/applicationhost.config
FlightSearchAPI/.vs/FlightSearchAPI.slnx/v18/.futdcache.v2
FlightSearchAPI/.vs/FlightSearchAPI.slnx/v18/.suo
FlightSearchAPI/.vs/FlightSearchAPI.slnx/v18/DocumentLayout.backup.json
FlightSearchAPI/.vs/FlightSearchAPI.slnx/v18/DocumentLayout.json
FlightSearchAPI/.vs/ProjectEvaluation/flightsearchapi.metadata.v10.bin
FlightSearchAPI/.vs/ProjectEvaluation/flightsearchapi.projects.v10.bin
FlightSearchAPI/.vs/ProjectEvaluation/flightsearchapi.strings.v10.bin
FlightSearchAPI/FlightSearchAPI/obj/FlightSearchAPI.csproj.NSwag.targets
FlightSearchAPI/FlightSearchAPI/obj/FlightSearchAPI.csproj.nuget.dgspec.json
FlightSearchAPI/FlightSearchAPI/obj/FlightSearchAPI.csproj.nuget.g.props
FlightSearchAPI/FlightSearchAPI/obj/FlightSearchAPI.csproj.nuget.g.targets
FlightSearchAPI/FlightSearchAPI/obj/project.assets.json
FlightSearchAPI/FlightSearchAPI/obj/project.nuget.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/ApiEndpoints.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/apphost.exe
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSe.412EFF25.Up2Date
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.AssemblyInfo.cs
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.AssemblyInfoInputs.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.assets.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.csproj.AssemblyReference.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.csproj.BuildWithSkipAnalyzers
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.csproj.CoreCompileInputs.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.csproj.FileListAbsolute.txt
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.dll
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.GeneratedMSBuildEditorConfig.editorconfig
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.genruntimeconfig.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.GlobalUsings.g.cs
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.MvcApplicationPartsAssemblyInfo.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.MvcApplicationPartsAssemblyInfo.cs
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/FlightSearchAPI.pdb
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/rpswa.dswa.cache.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/staticwebassets.build.endpoints.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/staticwebassets.build.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/staticwebassets.build.json.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/staticwebassets.removed.txt
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/swae.build.ex.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/EndpointInfo/FlightSearchAPI.json
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/EndpointInfo/FlightSearchAPI.OpenApiFiles.cache
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/ref/FlightSearchAPI.dll
FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0/refint/FlightSearchAPI.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/airports.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/appsettings.Development.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/appsettings.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/flights.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/FlightSearchAPI.deps.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/FlightSearchAPI.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/FlightSearchAPI.exe
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/FlightSearchAPI.pdb
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/FlightSearchAPI.runtimeconfig.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/FlightSearchAPI.staticwebassets.endpoints.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Microsoft.OpenApi.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/routes.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Swashbuckle.AspNetCore.Swagger.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Resources/airports.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Resources/flights.json
FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0/Resources/routes.json
flight-search-ui/node_modules/*
/FlightSearchAPI/.vs/FlightSearchAPI.slnx/FileContentIndex
/FlightSearchAPI/FlightSearchAPI/bin/Debug/net10.0
/FlightSearchAPI/FlightSearchAPI/logs
/FlightSearchAPI/FlightSearchAPI/obj/Debug/net10.0
